<!DOCTYPE html>
<html lang="en">
<head>

  <% include ./dependencies/head %>

</head>
<body>   
  <% include ./partials/navbar %>
  <% include ./partials/page-content %>

  <% include ./templates/templates %>
  <% include ./dependencies/scripts %>
</body>
</html>