<div class="col-md-4 middle">
	<ul class="grid">
		<li><i class="fa fa-comments fa-5x"></i></li>
		<li><i class="fa fa-user-plus fa-5x"></i></li>
		<li><i class="fa fa-cloud fa-5x"></i></li>
		<li><i class="fa fa-keyboard-o fa-5x"></i></li>
	</ul>
</div>