<div class="row">
  <div class="col-md-10 col-md-offset-1 section">
    <h4>Join and be somebody</h4>
    <form>
    	<div class="form-group">
        <input type="text" class="form-control username-register" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="text" class="form-control name-register" placeholder="Full name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control email-register" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control password-register" placeholder="Password">
      </div>
      <div class="form-group">
        <button class="btn btn-yellow form-control btn-register">Get Started</button>
      </div>
    </form>
    <p class="error-register"></p>
  </div>
</div>