<div class="container-fluid container-header">
	<div class="row">
		<div class="col-md-4 col-md-offset-5 text-center">
			<img class="img-responsive" src="assets/img/burger.png">
		</div>
	</div>
</div>