<div class="nav-header menu-wrapper">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars fa-2x"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="assets/img/burger.png"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="btn-group">
              <button class="btn btn-white">Login</button>
            </div>
          </form>
        </ul>
      </div>
    </div>
  </nav>
</div>