<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../dependencies/head %>
	<link rel="stylesheet" type='text/css' href="../assets/css/authentication.css">
</head>
<body style="background: #FF0000">   
  
  <% include ./_header %>
  <div class="container-fluid">
  	<div class="row">
			<% include ./_content-left %>			
			<% include ./_content-middle %>
			<% include ./_content-right %>
  	</div>
  
  <% include ../dependencies/scripts %>
</body>
</html>