<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../dependencies/head %>

</head>
<body>   
  
  <% include ./_navbar %>
  <% include ./_form %>
  <% include ./templates/register-form %>
  <% include ../dependencies/scripts %>
</body>
</html>