.container, .container-fluid {
	color: #fff;
}

.container-header {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #FFD200;
	color: #000;
}

.page-content {
	padding-top: 30px;
}

.middle {
	padding: 0;
}

.section {
	background: #fff;
	color: #FF0000;
}

.bar {
	padding: 15px;
	border-bottom: 1px solid #FFD200;
}

ul.grid li {
	display: inline-block;
}

.grid {
	padding: 0;
}

.grid li {
	text-align: center;
	list-style-type: none;
	width: 49.5%;
	border-radius: 4%;
	background: #fff;
	margin-bottom: 5px;
}

.grid li i {
	color: #FFD200;
	font-size: 8em;
	line-height: 2em;
}

.form-control {
	background-color: #FF0000;
	color: #fff;
	border-radius: 2px;
}

.form-control:focus {
	background-color: #FFD200;
	color: #FF0000;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder {
   color: #fff;
   opacity: 1;
}
.form-control::-moz-placeholder {
   color: #fff;
   opacity: 1;
}
.form-control:-ms-input-placeholder {
   color: #fff;
}