.nav-logo {
	height: 60px;
}

.navbar-brand {
  background: transparent;
}

.navbar-left > a {
  font-family: 'Nunito', sans-serif;
  color: #8B939A !important;
}

.navbar-right {
	margin-top: 25px;
}

.navbar-default {
    box-shadow:none;
    background:transparent;
    padding: 10px 20px 40px 20px;
}

.navbar {
    background: transparent;
    margin:0;
    border:none;
}

button.btn.btn-yellow {
  background-color: #FFD200;
  color: #000;
}

button.btn.btn-red {
  background-color: #FF0000;
  color: #000;
}

button.btn.btn-white {
  background-color: #white;
  color: #FF0000;
}