  <script type="text/template" id="direct-message-template">
    <div class="row direct-message">
      <div class="col-xs-8 col-sm-8 col-md-8">
        <p><strong class="direct-message-username"><%%= sender.name %></strong></p>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 text-center">
        <label class="badge unread-messages">3</label>
      </div>
        <!-- <p class="preview-message"><%%= content %></p> -->
    </div>
  </script>