<div class="wrapper message-view">

<div class="nav-header menu-wrapper">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="assets/img/burger-w.png"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <!-- <li><a href="#">Hamburger</a></li>     -->                 
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><i class="fa fa-power-off fa-2x"></i></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div><!-- end menu-wrapper -->