<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../dependencies/head %>
	<link rel="stylesheet" type='text/css' href="../assets/css/chat.style.css">
</head>
<body>   
  <% include ../partials/navbar %>
  <% include ../partials/page-content %>

  <% include ../templates/templates %>
  <% include ../dependencies/scripts %>
</body>
</html>