<h2>Login</h2>
<form>
	<div class="col-md-4 col-md-offset-4 form-group">
		<input type="text" class="form-control input-lg" placeholder="Email">
	</div>
	<div class="col-md-4 col-md-offset-4 form-group">
		<input type="password" class="form-control input-lg" placeholder="Password">
	</div>
	<div class="col-md-4 col-md-offset-4 form-group">
		<button class="btn btn-primary form-control input-lg">Submit</button>
		<p>Don't have an account? <a href="#">Sign up!</a></p>
	</div>
</form>